<%= render 'shared/errors', obj: @chef %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @chef do |f| %>
	    <p>
	    	<%= f.label :chefname %>
	      <%= f.text_field :chefname %>
      </p>

      <p>
	      <%= f.label :email %>
	      <%= f.email_field :email %>
      </p>

      <p>
	      <%= f.label :password %>
	      <%= f.password_field :password %>
      </p>

	    <%= f.submit(@chef.new_record? ? 'Register': 'Edit Profile', class: "btn btn-success") %>
	  <% end %>
  </div>
</div>